{% extends "base.html" %}
{% block title %}Workers{% endblock title %}

{% block body %}
<section class="text-gray-400 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4 my-30">
          <div class="rounded-lg h-64 overflow-hidden">
            <button><img type="button" onclick="window.location.href='skilled'" alt="content" class="object-cover object-center h-full w-full" src='/static/Qualified Workers.png'></button>
          </div>
          <p class="leading-relaxed text-base">Qualified workers are professionals who possess the necessary skills, certifications, and experience to excel in their roles.</p>
        </div>
        <div class="sm:w-1/2 mb-10 px-4 my-30">
          <div class="rounded-lg h-64 overflow-hidden">
            <button><img type="button" onclick="window.location.href='unskilled'" alt="content" class="object-cover object-center h-full w-full" src='/static/General Workers.png'></button>
          </div>
          <p class="leading-relaxed text-base">General workers are versatile laborers skilled in performing a wide range of basic tasks without specialized training.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}